* {
  font-family: "poppins";
}

body {
  /* background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgb(240, 30, 65) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  ); */
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-color: #4C4239;
}

#container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin: 50px auto;
  /* background: linear-gradient(240deg, #e94513, #ac0000); */
  background: transparent;
  font-size: 500%;
  text-align: center;
  color: white;
  border: solid 1px #D9802C;
  backdrop-filter: blur(1px);
}

#content {
  padding-top: 10%;
}

h1 {
  text-align: center;
  font-size: 100px;
  line-height: 80px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(./back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

#number {
  height: 25px;
  width: 250px;
  margin-left: 50px;
  margin-bottom: 80px;
  font-size: 100px;
}

#increment {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

#decrement {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

#increment:hover {
  background-color: #D9802C;
  transition-duration: 0.4s;
}

#decrement:hover {
  background-color: #D9802C;
  transition-duration: 0.4s;
}

.credits {
  margin-left: 75%;
  margin-top: -3%;
  color: white;
  font-weight: 400;
}

.credits a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.credits a:hover {
  color: darkred;
}
